<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
      <div class="headerbackground"></div>
      <div class="language">
      <a href="shefuyutaabouteng.html"><i class="fas fa-globe"></i>English</a>
      </div>
<%-include("headerjpn"); %>
  </header>
  <div class="container">
    <div class="profilephoto">
      <li><img src="shefuyutaphotos/PSX_20200529_201911.jpg"></li>
    </div>
    <div class="nameshefuyuta">shefuyuta</div>
    <div class="profile">
      <a>Age: 1992年生まれ<br>
         From: 東京<br><br>
         現在IT業界で仕事をしていますが、<br>
         料理にも情熱を注いでいます。<br>
         毎日欠かせない食事をできるだけ良いものにしようと<br>
         日々考えています。</a>
    </div>
      <div class="recommendtochecksns">
        <a>是非SNSもご覧ください！！</a>
        <div class="arrows">
          <i class="fas fa-arrow-down"></i>
          <i class="fas fa-arrow-down"></i>
          <i class="fas fa-arrow-down"></i>
        </div>
      </div>
    </div>

<%-include("footer"); %>
</body>
</html>
