<!DOCTYPE html>

<html class="htmlhome" lang="ja">
<%-include("head"); %>

<body>
  <header>
      <div class="headerbackground"></div>
      <div class="language">
      <a href="shefuyutaaboutjpn.html"><i class="fas fa-globe"></i>日本語</a>
      </div>
<%-include("headereng"); %>
  </header>
  <div class="container">
    <div class="profilephoto">
      <li><img src="shefuyutaphotos/PSX_20200529_201911.jpg"></li>
    </div>
    <div class="nameshefuyuta">shefuyuta</div>
    <div class="profile">
      <a>Age: Born in 1992<br>
         From: Tokyo, Japan<br><br>
         I am currently working for a tech company but<br>
         also passionate to explore my cooking abilities.</a>
    </div>
      <div class="recommendtochecksns">
        <a>Check out my profile on SNS as well!!</a>
        <div class="arrows">
          <i class="fas fa-arrow-down"></i>
          <i class="fas fa-arrow-down"></i>
          <i class="fas fa-arrow-down"></i>
        </div>
      </div>
    </div>


<%-include("footer"); %>
</body>
</html>
