<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
      <div class="headerbackground"></div>
      <div class="language">
      <a href="shefuyutacontactjpn.html"><i class="fas fa-globe"></i>日本語</a>
      </div>
<%-include("headereng"); %>
  </header>

  <div class="container">
    <div class="contact">
    <h2>Contact me!</h2>
    <a class="message">
      Thank you for exploring my website!<br>
      Did you like my website?<br>
      Should you have any question or suggestion, please feel free to contact me.<br>
      Check out below SNS and send me a direct message!(Instagram is recommended)<br>
      I will NOT disclose what you send me.<br>
      I am looking forward to hearing from you!</a>
    <div class="recommendtochecksns">
      <a>Check!</a>
      <div class="arrows">
        <i class="fas fa-arrow-down"></i>
        <i class="fas fa-arrow-down"></i>
        <i class="fas fa-arrow-down"></i>
      </div>
    </div>
<!--
    <form method="post" action="contacteng.php" enctype="text/plain">
    <a class="input" placeholder="ex)shefuyuta@example.com">Email Address</a>
    <input type="text" size="30">
    <a class="input">Name</a>
    <input type="radio" name="title" value="Mr."/>Mr./
    <input type="radio" name="title" value="Mrs."/>Mrs./
    <input type="radio" name="title" value="Ms." checked="checked"/>Ms.
    <br><input type="text" size="30">
    <a>About..</a>
    <select name="What kind of message?">
      <option>Question</option>
      <option>Advices</option>
      <option>Requests</option>
      <option>Others</option>
    </select>
    <a class="input">Message</a>
    <textarea rows="5" cols="60" placeholder="Please enter your inquiry here."></textarea><br>
    <input class="submit" type="button" value="Submit">
    <input type="hidden" name="nextpage" value="/Users/yuta/Documents/Shefuyuta.com/thankyoueng.html"></form>
  -->
   </div>
  </div>

<%-include("footer"); %>
</body>
</html>
