<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>
<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <a href="recipemaineng.html"><i class="fas fa-globe"></i>English</a>
      </div>
    <%-include("header"); %>
  </header>

    <div class="recipesmenu">
     <div class="back">
      <a href="shefuyutarecipesjpn.html"><i class="fas fa-arrow-circle-left"></i>他のジャンル</a>
     </div>
      <ul class="recipemenu">
       <li class="recipestewedpork">
         <a  href="recipemain/recipestewedporkjpn.html"><img src="shefuyutaphotos/PSX_20210114_160951.jpg"></a>
         <div class="recipenamejpn">ポークスペアリブのタイ風煮込み</div>
        </li>
       <li class="recipehamburgsteaks">
        <a  href="recipemain/recipehamburgsteaksjpn.html"><img src="shefuyutaphotos/PSX_20200514_174437.jpg"></a>
        <!-- <div class="recipenamejpn">とうふハンバーグ</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipeacquapazza">
        <a  href="recipemain/recipeacquapazzajpn.html"><img src="shefuyutaphotos/PSX_20200604_161830.jpg"></a>
        <!-- <div class="recipenamejpn">アクアパッツァ</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipechickensoymilksoup">
        <a  href="recipemain/recipechickensoymilksoupjpn.html"><img src="shefuyutaphotos/PSX_20200617_202026.jpg"></a>
        <!-- <div class="recipenamejpn">とり肉の豆乳クリーム煮</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipegyoza">
        <a  href="recipemain/recipegyozajpn.html"><img src="shefuyutaphotos/PSX_20201211_001332.jpg"></a>
        <!-- <div class="recipenamejpn">ギョウザ</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipechickenmeatball">
        <a  href="recipemain/recipechickenmeatballjpn.html"><img src="shefuyutaphotos/PSX_20200731_213048.jpg"></a>
        <!-- <div class="recipenamejpn">とり肉だんご</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="reciperoastedbeef">
        <a  href="recipemain/reciperoastedbeefjpn.html"><img src="shefuyutaphotos/PSX_20201224_135150.jpg"></a>
        <!-- <div class="recipenamejpn">ローストビーフ</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
    </div>

  <%-include("footer"); %>
  </body>
  </html>
