<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>
<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <a href="recipebreadeng.html"><i class="fas fa-globe"></i>English</a>
      </div>
<%-include("headerjpn"); %>
  </header>

    <div class="recipesmenu">
     <div class="back">
      <a href="shefuyutarecipesjpn.html"><i class="fas fa-arrow-circle-left"></i>他のジャンル</a>
     </div>
      <ul class="recipemenu">
        <li class="recipeeggplanttomatosaucesandwich">
         <a  href="recipebread/recipeeggplanttomatosaucesandwichjpn.html"><img src="shefuyutaphotos/PSX_20200915_101537.jpg"></a>
         <div class="recipenamejpn">ナスとトマトソースのサンドイッチ</div>
        </li>
        <li class="recipecheesesandwich">
         <a  href="recipebread/recipecheesesandwichjpn.html"><img src="shefuyutaphotos/PSX_20201108_110232.jpg"></a>
         <div class="recipenamejpn">こんがりチーズのサンドイッチ</div>
        </li>
        <li class="recipezucciniblt">
         <a  href="recipebread/recipezuccinibltjpn.html"><img src="shefuyutaphotos/IMG_20200419_230935_926.jpg"></a>
         <div class="recipenamejpn">ズッキーニBLT</div>
        </li>
        <li class="recipehomemadefocaccia">
         <a  href="recipebread/recipehomemadefocacciajpn.html"><img src="shefuyutaphotos/IMG_20200419_153456_989.jpg"></a>
         <div class="recipenamejpn">自家製フォカッチャ</div>
        </li>
        <li class="recipehummus">
         <a  href="recipebread/recipehummusjpn.html"><img src="shefuyutaphotos/1586478792357.jpg"></a>
         <div class="recipenamejpn">自家製フムス</div>
        </li>
    </div>

   <%-include("footer"); %>
  </body>
  </html>
