<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <a href="recipericeeng"><i class="fas fa-globe"></i>English</a>
      </div>
<%-include("headerjpn"); %>
  </header>

    <div class="recipesmenu">
     <div class="back">
      <a href="shefuyutarecipesjpn"><i class="fas fa-arrow-circle-left"></i>他のジャンル</a>
     </div>
      <ul class="recipemenu">
        <li class="recipeoysterbowl">
         <a  href="reciperice/recipeoysterbowljpn"><img src="shefuyutaphotos/PSX_20201213_015607.jpg"></a>
         <div class="recipenamejpn">牡蠣と蓮根の丼ぶり</div>
        </li>
        <li class="recipechickenbowl">
         <a  href="reciperice/recipechickenbowljpn"><img class="comingsoonpic "src="shefuyutaphotos/PSX_20201019_232755.jpg"></a>
         <!--<div class="recipenamejpn">BBQチキンボウル</div>-->
         <div class="comingsoon">Coming soon!</div>
        </li>
        <li class="recipebutasoboro">
         <a  href="reciperice/recipebutasoborojpn"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200715_170152.jpg"></a>
         <!--<div class="recipenamejpn">ぶたそぼろボウル</div>-->
         <div class="comingsoon">Coming soon!</div>
        </li>
        <li class="recipetomatocurry">
         <a  href="reciperice/recipetomatocurryjpn"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200630_175827.jpg"></a>
         <!--<div class="recipenamejpn">トマトカレー</div>-->
         <div class="comingsoon">Coming soon!</div>
        </li>
        <li class="recipefriedrice">
         <a  href="reciperice/recipefriedricejpn"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20201008_214928.jpg"></a>
         <!--<div class="recipenamejpn">チャーハン</div>-->
         <div class="comingsoon">Coming soon!</div>
        </li>
        <li class="recipeporcinirisotto">
         <a  href="reciperice/recipeporcinirisottojpn"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200816_194059.jpg"></a>
         <!--<div class="recipenamejpn">ポルチーニクリームリゾット</div>-->
         <div class="comingsoon">Coming soon!</div>
        </li>
    </div>

<%-include("footer"); %>
  </body>
  </html>
