<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
    <div class="headerbackground"></div>
      <div class="language">
      <a href="recipepastajpn.html"><i class="fas fa-globe"></i>日本語</a>
      </div>
<%-include("headereng"); %>
 </header>

  <div class="recipesmenu">
     <div class="back">
      <a href="shefuyutarecipeseng.html"><i class="fas fa-arrow-circle-left"></i>Other Genres</a>
     </div>
      <ul class="recipemenu">
       <li class="recipelasagna">
        <a  href="recipepasta/recipelasagnaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200529_202157.jpg"></a>
        <!-- <div class="recipenameeng">Lasagna</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipedashipasta">
         <a href="recipepasta/recipedashipastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200512_185140.jpg"></a>
        <!-- <div class="recipenameeng">Wafu Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipecurrycreampasta">
         <a href="recipepasta/recipecurrycreampastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200812_184735.jpg"></a>
         <!-- <div class="recipenameeng">Curry Cream Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipeavocadocreampasta">
         <a href="recipepasta/recipeavocadocreameng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200618_191739.jpg"></a>
         <!-- <div class="recipenameeng">Avocado Cream Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipeputtanescarosso">
         <a href="recipepasta/recipeputtanescarossoeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200708_203050.jpg"></a>
         <!-- <div class="recipenameeng">Putta Nesca Rosso</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipeputtanesca">
         <a href="recipepasta/recipewafuputtanescaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200609_152313.jpg"></a>
         <!-- <div class="recipenameeng">Wafu Putta Nesca bianco</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipecarbonara">
         <a href="recipepasta/recipecarbonaraeng.html"><img src="shefuyutaphotos/PSX_20201012_155001.jpg"></a>
         <div class="recipenameeng">Carbonara</div>
       </li>
       <li class="recipethaistylepasta">
         <a href="recipepasta/recipethaistylepastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200913_181253.jpg"></a>
         <!-- <div class="recipenameeng">Thai Style Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipepescatore">
         <a href="recipepasta/recipepescatoreeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200930_211320.jpg"></a>
         <!-- <div class="recipenameeng">Pescatore</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipetomatofusilli">
         <a href="recipepasta/recipetomatofusillieng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200907_185237.jpg"></a>
         <!-- <div class="recipenameeng">Tomato and Cheese<br>Fusilli</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipemushroomcreampasta">
         <a href="recipepasta/recipemushroomcreampastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200921_221902.jpg"></a>
         <!-- <div class="recipenameeng">Mushroom Cream</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipebolognese">
         <a href="recipepasta/recipebologneseeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200608_214223.jpg"></a>
         <!-- <div class="recipenameeng">Bolognese</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipebottarga">
         <a href="recipepasta/recipebottargaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200621_192227.jpg"></a>
        <!-- <div class="recipenameeng">Bottarga Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipesalmonpasta">
         <a href="recipepasta/recipesalmonpastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200929_224207.jpg"></a>
         <!-- <div class="recipenameeng">Salmon and Mushroom</div>  -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipetomatocreampasta">
         <a href="recipepasta/recipetomatocreampastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20201007_192605.jpg"></a>
        <!--  <div class="recipenameeng">Tomato Cream</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipemincedporkpasta">
         <a href="recipepasta/recipemincedporkpastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200917_203744.jpg"></a>
         <!-- <div class="recipenameeng">Minced Pork Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipecheesecream">
         <a href="recipepasta/recipeporcinicreampastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20201224_135301.jpg"></a>
         <!-- <div class="recipenameeng">Porcini Cheese Cream</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipemeatballpasta">
         <a href="recipepasta/recipemeatballpasta.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20201113_232141.jpg"></a>
         <!-- <div class="recipenameeng">Meatball Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipehomemadepasta">
         <a href="recipepasta/recipehomemadepastaeng.html"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200703_143701.jpg"></a>
         <!-- <div class="recipenameeng">Homemade Pasta</div> -->
         <div class="comingsoon">Coming soon!</div>
       </li>
     </ul>
  </div>

<%-include("footer"); %>
</body>
</html>
