<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <a href="recipemainjpn"><i class="fas fa-globe"></i>日本語</a>
      </div>
    <%-include("headereng"); %>
  </header>

    <div class="recipesmenu">
     <div class="back">
      <a href="shefuyutarecipeseng"><i class="fas fa-arrow-circle-left"></i>Other Genres</a>
     </div>
      <ul class="recipemenu">
       <li class="recipestewedpork">
         <a  href="recipemain/recipestewedporkeng"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20210114_160951.jpg"></a>
         <div class="recipenamejpn">Stewed Pork Ribs</div>
        </li>
       <li class="recipehamburgsteaks">
        <a  href="recipemain/recipehamburgsteakseng"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200514_174437.jpg"></a>
        <!-- <div class="recipenameeng">Tofu Hamburg Steaks</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipeacquapazza">
        <a  href="recipemain/recipeacquapazzaeng"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200604_161830.jpg"></a>
        <!-- <div class="recipenameeng">Acqua Pazza</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipechickensoymilksoup">
        <a  href="recipemain/recipechickensoymilksoupeng"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200617_202026.jpg"></a>
        <!-- <div class="recipenameeng">Chicken Soymilk Soup</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipegyoza">
        <a  href="recipemain/recipegyozaeng"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20201211_001332.jpg"></a>
        <!-- <div class="recipenameeng">Dumplings</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="recipechickenmeatball">
        <a  href="recipemain/recipechickenmeatballeng"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20200731_213048.jpg"></a>
        <!-- <div class="recipenameeng">Chicken Meat Balls</div> -->
        <div class="comingsoon">Coming soon!</div>
       </li>
       <li class="reciperoastedbeef">
        <a  href="recipemain/reciperoastedbeefeng"><img class="comingsoonpic" src="shefuyutaphotos/PSX_20201224_135150.jpg"></a>
        <!-- <div class="recipenamejpn">Roasted Beef</div> -->
        <div class="comingsoon">Coming soon!</div>
    </div>

  <%-include("footer"); %>
  </body>
  </html>
