<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <a href="recipepastaeng.html"><i class="fas fa-globe"></i>English</a>
      </div>
  <%-include("headerjpn"); %>
  </header>

    <div class="recipesmenu">
     <div class="back">
      <a href="shefuyutarecipesjpn.html"><i class="fas fa-arrow-circle-left"></i>他のジャンル</a>
     </div>
      <ul class="recipemenu">
       <li class="recipelasagna">
        <a  href="recipepasta/recipelasagnajpn.html"><img src="shefuyutaphotos/PSX_20200529_203412.jpg"></a>
        <div class="recipenamejpn">ラザニア</div>
       </li>
       <li class="recipedashipasta">
         <a href="recipepasta/recipedashipastajpn.html"><img src="shefuyutaphotos/PSX_20200512_185140.jpg"></a>
         <div class="recipenamejpn">和風ペペロンチーノ</div>
       </li>
       <li class="recipecurrycreampasta">
         <a href="recipepasta/recipecurrycreampastajpn.html"><img src="shefuyutaphotos/PSX_20200812_184735.jpg"></a>
         <div class="recipenamejpn">カレークリーム</div>
       </li>
       <li class="recipeavocadocreampasta">
         <a href="recipepasta/recipeavocadocreamjpn.html"><img src="shefuyutaphotos/PSX_20200618_191739.jpg"></a>
         <div class="recipenamejpn">アボカドクリーム</div>
       </li>
       <li class="recipeputtanescarosso">
         <a href="recipepasta/recipeputtanescarossojpn.html"><img src="shefuyutaphotos/PSX_20200708_203050.jpg"></a>
         <div class="recipenamejpn">プッタネスカロッソ</div>
       </li>
       <li class="recipeputtanesca">
         <a href="recipepasta/recipewafuputtanescajpn.html"><img src="shefuyutaphotos/PSX_20200609_152313.jpg"></a>
         <div class="recipenamejpn">和風プッタネスカビアンコ</div>
       </li>
       <li class="recipecarbonara">
         <a href="recipepasta/recipecarbonarajpn.html"><img src="shefuyutaphotos/PSX_20201012_155001.jpg"></a>
         <div class="recipenamejpn">カルボナーラ</div>
       </li>
       <li class="recipethaistylepasta">
         <a href="recipepasta/recipethaistylepastajpn.html"><img src="shefuyutaphotos/PSX_20200913_181253.jpg"></a>
         <div class="recipenamejpn">タイ風パスタ</div>
       </li>
       <li class="recipepescatore">
         <a href="recipepasta/recipepescatorejpn.html"><img src="shefuyutaphotos/PSX_20200930_211320.jpg"></a>
         <div class="recipenamejpn">ペスカトーレ</div>
       </li>
       <li class="recipetomatofusilli">
         <a href="recipepasta/recipetomatofusillijpn.html"><img src="shefuyutaphotos/PSX_20200907_185237.jpg"></a>
         <div class="recipenamejpn">トマトとチーズの<br>フジッリ</div>
       </li>
       <li class="recipemushroomcreampasta">
         <a href="recipepasta/recipemushroomcreampastajpn.html"><img src="shefuyutaphotos/PSX_20200921_221902.jpg"></a>
         <div class="recipenamejpn">キノコクリーム</div>
       </li>
       <li class="recipebolognese">
         <a href="recipepasta/recipebolognesejpn.html"><img src="shefuyutaphotos/PSX_20200608_214223.jpg"></a>
         <div class="recipenamejpn">ボロネーゼ</div>
       </li>
       <li class="recipesalmonpasta">
         <a href="recipepasta/recipesalmonpastajpn.html"><img src="shefuyutaphotos/PSX_20200929_224207.jpg"></a>
         <div class="recipenamejpn">サーモンとキノコのパスタ</div>
       </li>
       <li class="recipebottarga">
         <a href="recipepasta/recipebottargajpn.html"><img src="shefuyutaphotos/PSX_20201108_191242.jpg"></a>
         <div class="recipenamejpn">カラスミパスタ</div>
       </li>
       <li class="recipetomatocreampasta">
         <a href="recipepasta/recipetomatocreampastajpn.html"><img src="shefuyutaphotos/PSX_20201007_192605.jpg"></a>
         <div class="recipenamejpn">トマトクリーム</div>
       </li>
       <li class="recipemincedporkpasta">
         <a href="recipepasta/recipemincedporkpastajpn.html"><img src="shefuyutaphotos/PSX_20200917_203620.jpg"></a>
         <div class="recipenamejpn">ぶたひき肉のパスタ</div>
       </li>
       <li class="recipecheesecream">
         <a href="recipepasta/recipeporcinicreampastajpn.html"><img src="shefuyutaphotos/PSX_20201224_135301.jpg"></a>
         <div class="recipenamejpn">ポルチーニチーズクリームパスタ</div>
       </li>
       <li class="recipemeatballpasta">
         <a href="recipepasta/recipemeatballpastajpn.html"><img src="shefuyutaphotos/PSX_20201007_192605.jpg"></a>
         <div class="recipenamejpn">ミートボールパスタ</div>
       </li>
       <li class="recipehomemadepasta">
         <a href="recipepasta/recipehomemadepastajpn.html"><img src="shefuyutaphotos/PSX_20200703_143701.jpg"></a>
         <div class="recipenamejpn">自家製パスタ</div>
       </li>
    </div>

  <%-include("footer"); %>
  </body>
  </html>
