font-family: 'Cookie', cursive;
font-family: 'Noto Sans JP', sans-serif;


html {
  height: 100%;
  width: 100%;
}

/*-----header-----*/
header {
  background-color: rgb(160, 160, 160);
  width: 100%;
}
.headerbackground {
  z-index: 0;
  position: absolute;
  opacity: 0.45;
  background-image: url(shefuyutaphotos/PSX_20201005_234953.jpg);
  background-position: 0% 40%;
  background-size: cover;
  width: 100%;
  height: 147px;
}
.title {
  position: relative;
  z-index: 1;
  padding: 20px 0 5px 10px;
  font-family: "Cookie";
}
.title h1 {
  display: inline;
  font-weight: 300;
  margin: 0;
  color: white;
  font-size: 3.5em;
}
/*背景を文字でくりぬく*/
/*  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 3em;
  letter-spacing: -0.1em;
  -webkit-background-clip: text;
  width: 100%;
  background-image: url(shefuyutaphotos/PSX_20200529_201911.jpg);
  background-size: cover;*/

.language {
  position: relative;
  z-index: 2;
  display: inline-block;
  opacity: 0.8;
  font-size: 90%;
  font-style: italic;
  float: right;
  margin: 7px 10px 0 0;
  font-weight: bolder;
}
.language a{
  z-index: 2;
  text-decoration: none;
  letter-spacing: -0.05em;
  color: white;
}
.language i {
  margin-right: 2px;
}
.language:hover{
  opacity: 1;
}

/*-----menu-----*/
.menu {
  z-index: 1;
  position: relative;
  width: inherit;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
/*グラデーション*/
/*  background: -webkit-linear-gradient(bottom, transparent, rgb(130, 130, 130) 60%, rgb(130, 130, 130) 100%, transparent);*/
}
.menu a {
  z-index: 1;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: -0.025em;
  font-size: 1.1em;
  width: 10%;
  color: white;
  font-family: Arial Black;
  height: 25px;
  padding-top: 10px;
}
.menuunderline {
  z-index: 1;
  position: absolute;
  width: inherit;
  height: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
  opacity: 0.3;
}

.currentpage {
  font-size: 16px;
  font-weight: 900;
  border-bottom-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
  padding: 0.5px 0 1.25px 0;
}

.move {
  font-size: 14px;
  font-weight: 700;
  opacity:  0.8;
  padding-bottom: 1px;
}

.move:hover {
  opacity: 1;
  border-bottom-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
}

/*-----body-----*/
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  background-color: rgb(230, 230, 230);
  position: relative;
  width: 80%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 8% 10% 0 10%;
}

/*-----home----*/
.homecontainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  min-height: 1200px;
  background-color: rgb(160, 160, 160);
}
.bamboopasta {
  background-image: url(shefuyutaphotos/PSX_20200512_185140.jpg);
  width: 50%;
  background-size: cover;
}
.pescatore {
  background-image: url(shefuyutaphotos/PSX_20200930_211320.jpg);
  width: 50%;
  background-size: cover;
}
.lasagna {
  background-image: url(shefuyutaphotos/PSX_20200529_203412.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
.acquapazza {
  background-image: url(shefuyutaphotos/PSX_20200604_161830.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
.welcome {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  top: 28%;
  height: 40%;
  width: 100%;
  color: rgb(250, 250, 250);
  font-family: "Cookie";
  font-size: 3.8vw;
}

/*-----recipes-----*/
.recipesmenu {
  background-color: rgb(230, 230, 230);
  position: relative;
  width: 80%;
  height: auto;
  min-height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6% 10% 0 10%;
}

.recipesmenu li{
  list-style: none;
  width: 40%;
  margin: 0 5% 10% 5%;
  position: relative;
}

.recipesmenu li img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
}

.recipesmenu a{
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-weight: bolder;
}
.recipesnamejpn{
  font-size: 1.5vw;
  font-family: "Noto Sans JP";
}
.recipesnameeng{
  font-size: 2.5vw;
  font-family: "Cookie"
}

.recipesnameeng:hover {color: rgb(140, 140, 140);}
.recipesnamejpn:hover {color: rgb(140, 140, 140);}

.comingsoonpic {opacity: 0.35;}

.rcomingsoon {
    z-index: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    margin: -44% 0 0 0;
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    font-family: "Cookie";
    color: rgb(40, 40, 40);
}
.comingsoon {
    z-index: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    margin: -50% 0 0 0;
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    font-family: "Cookie";
    color: rgb(40, 40, 40);
}

/*-----recipe general-----*/


.back {
    width: 100%;
    margin: 0 1% 0 1%;
}

.back a {
    text-decoration: none;
    text-align: left;
    margin: 0 0 1% -1%;
    color: rgb(100, 100, 100);
    font-weight: 600;
    font-size: 1vw;
    letter-spacing: -0.05em;
    font-family: "Cookie";
}

.back a:hover i{
  margin: 0 0.9% 0 -0.9%;
}

.recipemenu {
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}


.recipemenu li {
      position: relative;
      width: 30%;
      margin: 0 1.666% 4% 1.666%;
}

/*large screen*/
@media (min-width: 1600px) {
  .recipemenu li {
        position: relative;
        width: 22%;
        margin: 0 1.41% 3% 1.41%;
  }
}

.recipemenu li::before {
  content:"";
  display: block;
  padding-top: 100%;
}
.recipemenu li img {
    z-index: 1;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.recipenameeng {
  z-index: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  font-size: 2.5vw;
  text-align: center;
  top: 43%;
  font-weight: bold;
  font-family: "Cookie";
  color: rgb(40, 40, 40);
}
.recipenamejpn {
  z-index: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  font-size: 1.6vw;
  text-align: center;
  top: 43%;
  font-weight: 700;
  font-family: "Noto Sans JP";
  color: rgb(40, 40, 40);
}
.recipemenu img:hover {opacity: 0.35;}
.recipemenu li:hover .recipenameeng {opacity: 1;}
.recipemenu li:hover .recipenamejpn {opacity: 1;}
/*.recipetomatofusilli div{top: 35%;}
.recipeacquapazza img{object-position: 55%;}*/


/*-----recipedetail-----*/

.recipedetail {
  background-color: rgb(230, 230, 230);
  position: relative;
  width: 80%;
  height: auto;
  min-height: 70%;
  padding: 5% 10% 5% 10%;
  font-family: "Noto Sans JP";
  color: rgb(100, 100, 100);
}

.menuphotos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1% 0 1% 0;
}
.menuphotos img {
  width: 80%;
}
.recipetitles {
  text-align: center;
  font-size: 3vw;
  font-family: "Cookie", "Noto Sans JP";
}

.ingredients {
  margin: 0 15% 0 15%;
  width: 70%;
  min-width: 300px;
}

.recipecontent {
  margin: 0 10% 0 10%;
  width: 80%;
}

.recipecontent h2 {margin: 3% 0 0 0;}
.recipecontent h3 {
  margin: 2% 0 0 0;
  font-size: 1.5vw;
}
.recipecontent li {
  padding: 0 2% 0 0;
  font-size: 1.2em;
}
.recipecontent h4{margin: 0 0 0 3px;}
.ingredients a {float: right;}
.process ul {margin: 0;}
.process ul li {
  padding: 2% 0 0 0;
}


.remarks {
  padding: 2% 0 0 10%;
}
.remarks h3 {margin: 0 0 1% -3%;}

.lmkurideas{
  width: 100%;
  padding: 10% 0 0 5%;
}

/*-----about-----*/
.profilephoto {
  margin-top: -3%;
  padding: 0;
  list-style: none;
  position: relative;
  width: 150%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.profilephoto li {
      position: relative;
      width: 30%;

}
.profilephoto li::before {
  content:"";
  display: block;
  padding-top: 100%;
}
.profilephoto li img {
    z-index: 1;
    position: absolute;
    object-fit: cover;
    object-position: 54.5%;
    border-radius: 50%;
    border-width: 7.5px;
    border-style: double;
    border-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.nameshefuyuta {
  margin: 10px 0 0 0;
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  font-family: Arial Black;
  color: rgb(100, 100, 100);
}

.profile {
  margin: 1% 0 1% 0;
  font-family:  "Noto Sans JP";
  color: rgb(100, 100, 100);
  text-align: center;
  font-size: 1.5vw;
}

.recommendtochecksns {
  position: relative;
  font-size: 1.5vw;
  width: 100%;
  left: 0;
  margin: 5% 0 2px 0;
  text-align: center;
}
.recommendtochecksns a {color: rgb(100, 100, 100);}
.arrows {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  position: relative;
  justify-content: center;
}
.arrows i {
  align-items: center;
  width: 1.5vw;
  margin: 0 3% 0 3%;
  color: rgb(100, 100, 100);
}
/*-----contact-----*/
.contact {
  width: 100%;
  color: rgb(100, 100, 100);
}
.message {padding-bottom: 1.5%;}
.contact {text-align: center;}
.contact a {
  display: block;
  font-weight: bold;
}
.contact select {display: block;}
.submit{margin: 0 0 3% 0}

.thankyou {

}

/*-----footer-----*/
footer {background-color: rgb(160, 160, 160);}

.footerbackground {
  z-index: 0;
  position: absolute;
  opacity: 0.45;
  background-image: url(shefuyutaphotos/PSX_20201005_234953.jpg);
  background-position: 0% 68%;
  background-size: cover;
  width: 100%;
  height: 108px;
}
.links {
  padding: 25px 0 48px 0;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  position: relative;
  justify-content: center;
}

.links div {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 3% 0 3%;
}
.links a {color: rgb(160, 160, 160);}

.ig {
  font-weight: 500;
  font-size: 23px;
}
.iglink:hover {
  background: -webkit-radial-gradient(33% 100%, circle farthest-corner, #ffda75 21%, #ff3a49 43%, #ff3a49 48%, #e518a1 55%, #6634e1 100%);
  opacity: 0.8;
}
.links div:hover a{color: white;}

.twitter {font-size: 20px;}

.twitterlink:hover {
  background-color: rgb(0, 172, 237);
  color: white;
  opacity: 0.8;
}

.tumblr {font-size: 18px;}

.tumblrlink:hover {
  background-color: rgb(53, 70, 92);
  color: white;
  opacity: 0.8;
}

.reference {
  position: absolute;
  bottom: 1px;
  right:2px;
  width: 100%;
  text-align: right;
}
.reference a {
  font-size: 6px;
  text-decoration: none;
  color: white;
}

.reference .href {font-weight: bold;}
