<!DOCTYPE html>

<html class="htmlhome" lang="ja">
  <%-include("header");%>

<body>
    <div class="homecontainer">
      <div class="bamboopasta">
       </div>
      <div class="pescatore">
       </div>
      <div class="lasagna">
       </div>
      <div class="acquapazza">
       </div>
      <div class="welcome">
        <a>An amateur chef</a>
        <a>exploring his</a>
        <a>cooking abilities.</a>
      </div>
     </div>
  <%-include("footer");%>
   </body>
   </html>
