<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <a href="recipethaifriedriceeng.html"><i class="fas fa-globe"></i>English</a>
      </div>
<%-include("headerjpn"); %>
  </header>

    <div class="recipedetail">
     <div class="back">
      <a href="../recipepastajpn.html"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a>
     </div>
     <div class="menuphotos">
        <img src="../shefuyutaphotos/PSX_20200618_191739.jpg">
       </div>
     <h1 class="recipetitles">トムヤムチャーハン</h1>
     <div class="recipecontent">
      <h2>-材料-</h2>
      <h4>2人分の想定です</h4>
          <div class="ingredients">
            <ul>
            <li>少し固めに炊いたお米<a>...1.5合</a></li>
            <li><a>...</a></li>
          </ul>
         </div>
      <h2>-作り方-</h2>
        <div class="process">
          <ul>
        </ul>
      </div>
          <div class="lmkurideas">
            <a>ご覧いただきありがとうございます！
              <br>このレシピはいかがでしたか？ぜひ感想などをお聞かせください！
              <br>ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。
              <br>メッセージお待ちしています!</a>
          </div>
     </div>
     </div>

<%-include("footer"); %>
   </body>
   </html>
