<!DOCTYPE html>
<html class="htmlhome" lang="ja">
<%-include("head"); %>
<body> 

<header>     
  <div class="headerbackground"></div>     
  <div class="language">     
    <!--<a href="recipeoysterbowleng.html">
     <i class="fas fa-globe"></i>English
    </a>-->     
  </div>   
<%-include("headerjpn"); %>
</header>
    <div class="recipedetail">     
  <div class="back">     
    <a href="../recipericejpn"><i class="fas fa-arrow-circle-left"></i>他のごはん</a>     
  </div>     
  <div class="menuphotos">       
    <img src="../shefuyutaphotos/PSX_20201213_015607.jpg">       
  </div>     
  <h1 class="recipetitles">牡蠣と蓮根の丼ぶり</h1>     
  <div class="recipecontent">     
    <h2>-材料-</h2>     
    <h4>2人分の想定です</h4>         
    <div class="ingredients">           
      <ul>           
       <li>炊いたお米<a>...1合</a></li>           
       <li>牡蠣<a>...50~100g</a></li>           
       <li>帆立<a>...50~100g</a></li>           
       <li>蓮根<a>...半分~1本</a></li>           
       <li>ケール(キャベツなどでも可)<a>...蓮根と同じくらい</a></li>
       <li>ニンニク<a>...2~3かけ</a></li>         
       <li>唐辛子<a>...3本</a></li>           
       <li>糸唐辛子<a>...少々</a></li>
       <li>サラダ油<a>...30ml</a></li>           
       <li>塩<a>...少々</a></li>           
       <li>醤油<a>...50ml</a></li>           
       <li>日本酒<a>...30ml</a></li>           
       <li>オイスターソース<a>...20ml</a></li>           
      </ul>         
    </div>     
    <h2>-作り方-</h2>       
    <div class="process">         
      <ul>           
        <li>牡蠣や帆立は軽く水洗いし、クッキングペーパーなどで水気を取っておく。</li>           
        <li>帆立には切っても切らなくても良い。</li>           
        <li>蓮根は火が通りやすいように少し薄め(3mm~5mmくらい)に輪切りにする。</li>           
        <li>ケールは手でちぎるか包丁で5cmx5cmくらいの大きさに切る。</li>           
        <li>ニンニクは根本だけ先に切り落とし、包丁で潰してから輪切りにする。</li>           
        <li>フライパンにサラダ油とニンニクを入れ、弱火で火を点ける。</li>           
        <li>ニンニクから泡が出始めて30秒後に唐辛子、牡蠣、帆立を入れて塩を振る。乾燥トウガラシの場合は半分にちぎってそのまま入れる。種は入れると辛いのでお好みで。</li>           
        <li>30秒程弱火で炒めたら蓮根を入れ、中火にする。</li>
        <li>ニンニクや唐辛子が焦げないように気を付けながらその他の具材に軽く焦げ目が付くくらいに炒める。</li>
        <li>具材に軽く焦げ目が付いたら醤油、日本酒、オイスターソースを入れ、ソースが混ざるように混ぜながらアルコールを飛ばす。</li>
        <li>丼ぶりにご飯と一緒に盛り付けたら最後に糸唐辛子を乗せる。</li>          
      </ul>
      </div>         
    <div class="lmkurideas">           
      <a>ご覧いただきありがとうございます！             
        <br>このレシピはいかがでしたか？ぜひ感想などをお聞かせください！             
        <br>ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。             
        <br>メッセージお待ちしています!</a>         
      </div>     
     </div>     
    </div>
 <%-include("footer"); %> 
</body>   
</html>
