<footer>
  <div class="footerbackground"></div>
  <div class="links">
    <div class="iglink">
      <a class="ig"  href="https://www.instagram.com/shefuyuta/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="twitterlink">
      <a class="twitter" href="https://twitter.com/shefuyuta" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="tumblrlink">
      <a class="tumblr" href="https://www.tumblr.com/blog/view/shefuyuta" target="_blank"><i class="fab fa-tumblr"></i></a>
    </div>
  </div>
</footer>
