  <section class="title">
  <h1 class="titleshefu">shefuyuta.com</h1>
  </section>
 <nav class="menu">
   <section class="menuunderline">
   </section>
    <a class="currentpage">Home</a>
    <a href="/recipesjpn" class="move">Recipes</a>
    <a href="/aboutjpn" class="move">About</a>
    <a href="contactjpn" class="move">Contact</a>
  </nav>
