<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> -->
      </div>
<%-include("headerjpn"); %>
  </header>

    <div class="recipedetail">
     <div class="back">
      <a href="../recipepastajpn"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a>
     </div>
     <div class="menuphotos">
        <img src="../shefuyutaphotos/PSX_20200609_152313.jpg">
       </div>
     <h1 class="recipetitles">和風プッタネスカビアンコ</h1>
     <div class="recipecontent">
      <h2>-材料-</h2>
      <h4>2人分の想定です</h4>
            <h3>[パスタ用]</h3>
　　      <div class="ingredients">
            <ul>
            <li>お好きなロングパスタ<a>...200g</a></li>
            <li>水<a>...4L</a></li>
            <li>塩<a>...40g(水の1%)</a></li>
            </ul>
           </div>
            <h3>[パスタソース用]</h3>
            <div class="ingredients">
            <ul>
            <li>オリーブオイル<a>...30ml</a></li>
            <li>ニンニク<a>...3かけ</a></li>
            <li>唐辛子<a>...4本</a></li>
            <li>日本酒<a>...30ml</a></li>
            <li>ケッパー<a>...大さじ2、3</a></li>
            <li>ブラックオリーブ<a>...5、6個</a></li>
            <li>白だし<a>...50ml</a></li>
            <li>鯖<a>...1切</a></li>
            <li>長葱または小葱<a>...お好みの量</a></li>
            <li>パン粉<a>...大さじ2</a></li>
            <li>塩<a>...少々</a></li>
             </ul></div>
      <h2>-作り方-</h2>
        <div class="process">
          <ul>
          <li>ニンニクはそれぞれ根元だけ切り落としたら包丁で潰し、皮を取った後スライスする。</li>
          <li>オリーブを5mm程にスライスする。葱は1,2mm程にスライスする。</li>
          <li>鯖は焼いた後、解しておく。</li>
          <li>フライパンにオリーブオイルを入れて強火にかける</li>
          <li>オリーブオイルが温まったらパン粉を入れる。</li>
          <li>パン粉がきつね色になった頃(少し早めに)パン粉をキッチンペーパーの上に移す。</li>
          <li>オリーブオイルを少し足し、ニンニクを入れて弱火にかける。</li>
          <li>ニンニクが泡を出し始めたら唐辛子を入れる。</li>
          <li>フライパンを斜めにしてニンニクと唐辛子がオリーブオイルをかぶる状態にする。</li>
          <li>1分程ニンニクと唐辛子を焼いたら鯖を入れ、さらに1分程中火で焼く</li>
          <li>オリーブとケッパーを加え、軽く炒める。</li>
          <li>10秒後に日本酒をフライパンの周りから回し入れ、日本酒がグツグツするまで中火にする。</li>
          <li>グツグツし出したら弱火にし、ネギを入れてさらに5分程火を通す。</li>
          <li>フライパンは火にかけたままパスタ用の水を温め、沸騰したら塩を入れてパスタを茹でる。茹で時間はパッケージに書いてある時間の2分前がおすすめ。</li>
          <li>フライパンの方を強火にし、茹で上がったパスタをお湯からそのままフライパンに移す。水分が足りなければお湯も少し加える。</li>
          <li>皿に盛り付け、パン粉をかける。</li>
          </ul></div>
          <div class="lmkurideas">
            <a>ご覧いただきありがとうございます！
              <br>このレシピはいかがでしたか？ぜひ感想などをお聞かせください！
              <br>ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。
              <br>メッセージお待ちしています!</a>
          </div>
     </div>
     </div>

<%-include("footer"); %>
   </body>
   </html>
