<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> -->
      </div>
  <%-include("headerjpn"); %>
  </header>

    <div class="recipedetail">
     <div class="back">
      <a href="../recipepastajpn"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a>
     </div>
     <div class="menuphotos">
        <img src="../shefuyutaphotos/PSX_20200913_181253.jpg">
       </div>
     <h1 class="recipetitles">タイ風パスタ</h1>
     <div class="recipecontent">
      <h2>-材料-</h2>
       <h4>2人分の想定です</h4>
            <h3>[パスタ用]</h3>
            <div class="ingredients">
            <ul>
            <li>お好きなロングパスタ<a>...200g</a></li>
            <li>水<a>...4L</a></li>
            <li>塩<a>...40g(水の1%)</a></li>
             </ul></div>
            <h3>[パスタソース用]</h3>
            <div class="ingredients">
            <ul>
            <li>サラダ油<a>...30ml</a></li>
            <li>ニンニク<a>...3かけ</a></li>
            <li>唐辛子<a>...6本</a></li>
            <li>海老<a>...50g</a></li>
            <li>シラス<a>...100g</a></li>
            <li>パクチー<a>...好きなだけ</a></li>
            <li>金山シーズニングソース<a>...大さじ3</a></li>
            <li>オイスターソース<a>...大さじ3</a></li>
            <li>ナンプラー<a>...大さじ3</a></li>
            <li>塩<a>...少々</a></li>
            <li>砂糖<a>...少々</a></li>
            </ul></div>
      <h2>-作り方-</h2>
        <div class="process">
          <ul>
          <li>ニンニクはそれぞれ根元だけ切り落としたら包丁で潰し、皮を取った後スライスする。</li>
          <li>海老は切らなくても良いが切るなら一口サイズに。</li>
          <li>フライパンにサラダ油とニンニクを入れて弱火にかける</li>
          <li>フライパンを斜めにしてニンニクがサラダ油をかぶる状態にする。</li>
          <li>ニンニクが泡を出し始めてから30秒後、海老と唐辛子を加え中火にする。</li>
           <a>とうがらしは半分にちぎり、からいのがあまり得意でない方は種は除いてください。</a>
           <li>この辺でパスタ用の水も温め、沸騰したら塩を入れてパスタを茹で始める。茹で時間はパッケージに書いてある時間の2分前がおすすめ。</li>
          <li>ニンニクと唐辛子が焦げないように気を配りながら海老をしっかりめに焼く。</li>
          <li>しらすを加え、シーズニングソース、オイスターソース、ナンプラーを入れる。</li>
          <li>フライパンの方を強火にし、茹で上がったパスタをお湯からそのままフライパンに移す。水分が足りなければお湯も少し加える。</li>
          <li>パスタとサラダ油が絡むようにできるだけ激しく混ぜる。サラダ油が白く濁りとろみが付いたら完了。</li>
          <li>パクチーを入れて軽く混ぜる。</li>
          </ul></div>
          <div class="lmkurideas">
            <a>ご覧いただきありがとうございます！
              <br>このレシピはいかがでしたか？ぜひ感想などをお聞かせください！
              <br>ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。
              <br>メッセージお待ちしています!</a>
          </div>
     </div>
     </div>

<%-include("footer"); %>
   </body>
   </html>
