<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
<header>
<div class="headerbackground"></div>
<div class="language"><!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> --></div>
<%-include("headerjpn"); %>
</header>
<div class="recipedetail">
<div class="back"><a href="../recipepastajpn.html"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a></div>
<div class="menuphotos"><img src="../shefuyutaphotos/PSX_20200512_185140.jpg" /></div>
<h1 class="recipetitles">和風ペペロンチーノ</h1>
<div class="recipecontent">
<h2>-材料-</h2>
<h4>2人分の想定です</h4>
<h3>[パスタ用]</h3>
<div class="ingredients">
<ul>
<li>お好きなロングパスタ<a>...200g</a></li>
<li>水<a>...4L</a></li>
<li>塩<a>...40g(水の1%)</a></li>
</ul>
</div>
<h3>[パスタソース用]</h3>
<div class="ingredients">
<ul>
<li>サラダ油<a>...30ml</a></li>
<li>ニンニク<a>...3かけ</a></li>
<li>唐辛子<a>...4本</a></li>
<li>筍<a>...1/4本</a></li>
<li>アスパラガス<a>...8本</a></li>
<li>白だし<a>...30ml</a></li>
<li>小葱<a>...お好みの量</a></li>
<li>塩<a>...少々</a></li>
</ul>
</div>
<h2>-作り方-</h2>
<div class="process">
<ul>
<li>ニンニクはそれぞれ根元だけ切り落としたら包丁で潰し、皮を取った後スライスする。</li>
<li>小葱は1~2mm程の厚さに切る。</li>
<li>筍は盛り付けやすい大きさ、形に切る。</li>
<li>アスパラガスは固い部分だけ取る。</li>
<li>この辺でパスタ用の水も温め、沸騰したら塩を入れてパスタを調理し始める。茹で時間はパッケージに書いてある時間の2分前がおすすめ。</li>
<li>フライパンにサラダ油とニンニクを入れて弱火にかける。</li>
<li>ニンニクが泡を出し始めてから30秒後に唐辛子を入れる。乾燥唐辛子の場合は半分にちぎってそのまま入れる。種を入れると辛いのでお好みで。</li>
<li>フライパンを斜めにしてニンニクがサラダ油をかぶる状態にする。</li>
<li>30秒程ニンニクを焼いたら筍とアスパラガスを入れ、塩を振ってから中火にする。</li>
<li>筍とアスパラガスがやわらかくなってきたら白だしを入れ、30秒程火を通す。</li>
<li>ネギを入れ、さらに30秒火を通す。</li>
<li>お好みで筍とアスパラガスを炙る場合はフライパンから出して炙る。</li>
<li>フライパンの方を強火にし、茹で上がったパスタをお湯からそのままフライパンに移す。水分が足りなければお湯も少し加える。</li>
<li>パスタとソースが絡むように激しく混ぜる。サラダ油が白く濁りとろみが付いたら完了。</li>
<li>皿に盛り付け、最後に筍とアスパラガスを乗せる。</li>
</ul>
</div>
<div class="lmkurideas"><a>ご覧いただきありがとうございます！ <br />このレシピはいかがでしたか？ぜひ感想などをお聞かせください！ <br />ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。 <br />メッセージお待ちしています!</a></div>
</div>
</div>
<%-include("footer"); %>

</body>
   </html>
