<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
<header>
<div class="headerbackground"></div>
<div class="language"><!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> --></div>
<%-include("headerjpn"); %>
</header>
<div class="recipedetail">
<div class="back"><a href="../recipepastajpn.html"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a></div>
<div class="menuphotos"><img src="../shefuyutaphotos/PSX_20200703_143701.jpg" /></div>
<h1 class="recipetitles">自家製パスタ</h1>
<div class="recipecontent">
<h2>-材料-</h2>
<h4>2人分の想定です</h4>
<div class="ingredients">
<ul>
<li>デュラムセモリナ粉<a>...200g</a></li>
<li>卵<a>...2個</a></li>
<li>オリーブオイル<a>...大さじ1</a></li>
<li>塩<a>...少々</a></li>
</ul>
</div>
<h2>-作り方-</h2>
<div class="process">
<ul>
<li>卵は使う前に冷蔵庫から出して常温に戻しておく。</li>
<li>ボウルにデュラムセモリナ粉を入れ、真ん中に窪みを作る。</li>
<li>別のボウルに卵を割り入れ、よくかき混ぜる。</li>
<li>作った窪みに卵、オリーブオイルを入れ、箸で混ぜていく。</li>
<li>窪みの外側から粉を真ん中に集め卵に被せるようにして混ぜ、ポロポロとした団子をたくさん作る。</li>
<li>粉の部分が無くなり団子だけになったら今度は手を使ってそれらを合わせていく。</li>
<li>生地を一つにまとめたらよく捏ねる。</li>
<li>ボソボソとした感じがなくなり表面にツヤが出てきたらラップをかけて冷蔵庫の中で4時間程休める</li>
<li>生地用のマットがない場合はテーブルなどにアルコールをスプレーしラップをかける。</li>
<li>生地用のマット、延し棒、パスタ生地それぞれに小麦粉を軽くふってコーティングし、生地をのばしていく。</li>
<li>冷蔵庫で休ませる時間が足りないと生地が固くて伸ばすのが大変になるので注意。</li>
<li>厚さ3mm程になるまで伸ばしたら更に小麦粉を塗してコーティングし、切りやすいように三つ折りにする。</li>
<li>包丁でお好みの太さに切る。(茹でると少し膨らむので注意。)</li>
<li>ゆでる時間は3分程が目安です。</li>
</ul>
</div>
<div class="lmkurideas"><a>ご覧いただきありがとうございます！ <br />このレシピはいかがでしたか？ぜひ感想などをお聞かせください！ <br />ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。 <br />メッセージお待ちしています!</a></div>
</div>
</div>
<%-include("footer"); %>

</body>
   </html>
