<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
<header>
<div class="headerbackground"></div>
<div class="language"><!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> --></div>
<%-include("headerjpn"); %>
</header>
<div class="recipedetail">
<div class="back"><a href="../recipepastajpn.html"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a></div>
<div class="menuphotos"><img src="../shefuyutaphotos/PSX_20200618_191739.jpg" /></div>
<h1 class="recipetitles">アボカドクリームパスタ</h1>
<div class="recipecontent">
<h2>-材料-</h2>
<h4>2人分の想定です</h4>
<h3>[パスタ用]</h3>
<div class="ingredients">
<ul>
<li>お好きなロングパスタ<a>...200g</a></li>
<li>水<a>...4L</a></li>
<li>塩<a>...40g(水の1%)</a></li>
</ul>
</div>
<h3>[パスタソース用]</h3>
<div class="ingredients">
<ul>
<li>オリーブオイル<a>...30ml</a></li>
<li>オリーブオイル(ズッキーニ用)<a>...20ml</a></li>
<li>ニンニク<a>...3かけ</a></li>
<li>アボカド<a>...1個</a></li>
<li>ズッキーニ<a>...1本</a></li>
<li>パルミジャーノレッジャーノ<a>...30g</a></li>
<li>塩<a>...少々</a></li>
<li>ブラックペッパー<a>...少々</a></li>
</ul>
</div>
<h2>-作り方-</h2>
<div class="process">
<ul>
<li>オーブンを220°Cで予熱する。</li>
<li>ニンニクはそれぞれ根元だけ切り落としたら包丁で潰し、<br>皮を取った後スライスする。</li>
<li>ズッキーニを5mm程の厚さにスライスする。</li>
<li>ズッキーニに塩とブラックペッパーを振り、軽くオリーブオイルをかけてオーブンで10分焼く。</li>
<li>フライパンにオリーブオイルとニンニクを入れて弱火にかける</li>
<li>フライパンを斜めにしてニンニクがオリーブオイルをかぶる状態にする。</li>
<li>この辺でパスタ用の水も温め、沸騰したら塩を入れてパスタを調理し始める。加熱時間はパッケージに書いてある時間の2分前がおすすめ。</li>
<li>ニンニクが泡を出し始めてから1分程素揚げにする。</li>
<li>アボカドは皮と種を取り除き、ボウルの中でスプーンやフォークで潰したら塩とブラックペッパーを振る。</li>
<li>フライパンの方を強火にし、茹で上がったパスタをお湯からそのままフライパンに移す。</li>
<li>すぐにオリーブオイルとパスタが混ざり合うようによく混ぜる。水分が足りないようならパスタの茹で汁も加える。</li>
<li>オリーブオイルが白く濁りとろみが出てきたら火を止め、アボカドを加えてよく和える。</li>
<li>お皿に盛り付けたらチーズを削りかける。</li>
<li>ズッキーニを並べる。</li>
<li>お好みでブラックペッパーをさらにふりかける。</li>
</ul>
</div>
<div class="lmkurideas"><a>ご覧いただきありがとうございます！ <br />このレシピはいかがでしたか？ぜひ感想などをお聞かせください！ <br />ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。 <br />メッセージお待ちしています!</a></div>
</div>
</div>
<%-include("footer"); %>

</body>
   </html>
