<!DOCTYPE html>
<html class="htmlhome" lang="ja">
<%-include("head"); %>

<body>
<header>
<div class="headerbackground"></div>
<div class="language"><!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> --></div>
<%-include("header"); %>
</header>
<div class="recipedetail">
<div class="back"><a href="../recipepastajpn.html"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a></div>
<div class="menuphotos"><img src="../shefuyutaphotos/PSX_20200608_214223.jpg" /></div>
<h1 class="recipetitles">カラスミパスタ</h1>
<div class="recipecontent">
<h2>-材料-</h2>
<h4>2人分の想定です</h4>
<h3>[パスタ用]</h3>
<div class="ingredients">
<ul>
<li>お好きなロングパスタ<a>...200g</a></li>
<li>水<a>...4L</a></li>
<li>塩<a>...40g(水の1%)</a></li>
</ul>
</div>
<h3>[パスタソース用]</h3>
<div class="ingredients">
<ul>
<li>オリーブオイル<a>...30ml</a></li>
<li>ニンニク<a>...3かけ</a></li>
<li>カラスミ<a>...20g</a></li>
<li>海老<a>...50g</a></li>
<li>ホタテ<a>...50g</a></li>
<li>アスパラガス<a>...4本</a></li>
<li>ズッキーニ<a>...1本</a></li>
<li>塩<a>...少々</a></li>
<li>唐辛子<a>...お好みの量</a></li>
</ul>
</div>
<h2>-作り方-</h2>
<div class="process">
<ul>
<li>ニンニクはそれぞれ根元だけ切り落としたら包丁で潰し、皮を取った後スライスする。</li>
<li>アスパラガスは固い部分を取り、斜めにスライスする。</li>
<li>ズッキーニは薄く短冊切りにする。</li>
<li>海老やホタテは切らなくても良いが、食べやすい大きさに切っても良い。</li>
<li>フライパンにオリーブオイルとニンニクを入れて弱火にかける。</li>
<li>フライパンを斜めにしてニンニクが完全にオリーブオイルをかぶる状態にする。</li>
<li>ニンニクが泡を出し始めてから30秒後に海老とホタテを入れ、塩を振ったら強火にする。</li>
<li>とうがらしを入れる場合は海老、ホタテと同じタイミングで入れる。乾燥唐辛子の場合は手で半分にちぎって入れる。種を入れるとより辛くなる為お好みで。</li>
<li>ニンニクが焦げないように気をつけながら、海老とホタテには軽く焦げ目が付くまで焼く。</li>
<li>この辺でパスタ用の水も温め、沸騰したら塩を入れてパスタを調理し始める。茹で時間はパッケージに書いてある時間の2分前がおすすめ。</li>
<li>アスパラガスを加えて中火にし、2分程焼く。</li>
<li>ズッキーニも加え、さらに2分程火を通す。</li>
<li>フライパンの方を強火にし、茹で上がったパスタをお湯からそのままフライパンに移す。水分が足りなければお湯も少し加える。</li>
<li>パスタとオリーブオイルがからむようにできるだけ激しく混ぜる。オリーブオイルが白く濁りとろみが付いたら完了。</li>
<li>皿に盛り付けたらお好みの量のカラスミをけずってかける。</li>
</ul>
</div>
<div class="lmkurideas"><a>ご覧いただきありがとうございます！ <br />このレシピはいかがでしたか？ぜひ感想などをお聞かせください！ <br />ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。 <br />メッセージお待ちしています!</a></div>
</div>
</div>
<%-include("footer"); %>

</body></html>
