<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> -->
      </div>
<%-include("headerjpn"); %>
  </header>

    <div class="recipedetail">
     <div class="back">
      <a href="../recipepastajpn.html"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a>
     </div>
     <div class="menuphotos">
        <img src="../shefuyutaphotos/PSX_20200929_003308.jpg">
       </div>
     <h1 class="recipetitles">サーモンとキノコのパスタ</h1>
     <div class="recipecontent">
      <h2>-材料-</h2>
      <h4>2人分の想定です</h4>
          <ul class="ingredients">
            <h3>[パスタ用]</h3>
            <li>お好きなロングパスタ<a>...200g</a></li>
            <li>水<a>...4L</a></li>
            <li>塩<a>...40g(水の1%)</a></li>
            </ul>
			</div>
			<h3>[パスタソース用]</h3>
			<div class="ingredients">
			<ul>
  			<li>オリーブオイル<a>...30ml</a></li>
            <li>ニンニク<a>...3かけ</a></li>
            <li>鮭<a>...1~2切</a></li>
            <li>マッシュルーム<a>...6個</a></li>
            <li>塩<a>...少々</a></li>
            <li>パセリ(できれば生パセリ)<a>10g</a></li>
            </ul>
            </div>
      <h2>-作り方-</h2>
        <div class="process">
          <ul>
          <li>ニンニクはそれぞれ根元だけ切り落としたら包丁で潰し、皮を取った後スライスする。</li>
		  <li>パセリは細かく刻むか手でちぎってもいいです。(写真はちぎったもの)</li>
          <li>鮭は予めグリルなどで焼いておきます。</li>
          <li>フライパンにオリーブオイルとニンニクを入れて弱火にかける</li>
          <li>フライパンを斜めにしてニンニクがオリーブオイルをかぶる状態にする。</li>
          <li>この辺でパスタ用の水も温め、沸騰したら塩を入れてパスタを調理し始める。茹で時間はパッケージに書いてある時間の2分前がおすすめ。</li>
          <li>ニンニクが泡を出し始めてから1分後、焼いたサーモンとマッシュルーム、パセリを入れて中火にする。
            <br>パセリは盛り付け用に少し残しておく。</li>
          <li>フライパンの方を強火にし、茹で上がったパスタをお湯からそのままフライパンに移す。水分が足りなければお湯も少し加える。</li>
          <li>パスタとオリーブオイルが絡むようにできるだけ激しく混ぜる。オリーブオイルが白く濁りとろみが付いたら完了。</li>
          <li>さらに盛り付けたら残りのパセリをかける。</li>
          </ul></div>
          <div class="lmkurideas">
            <a>ご覧いただきありがとうございます！
              <br>このレシピはいかがでしたか？ぜひ感想などをお聞かせください！
              <br>ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。
              <br>メッセージお待ちしています!</a>
          </div>
     </div>

<%-include("footer"); %>
   </body>
   </html>
