<!DOCTYPE html>

<html class="htmlhome" lang="ja">

<%-include("head"); %>

<body>
  <header>
     <div class="headerbackground"></div>
      <div class="language">
      <!-- <a href="recipeavocadocreampastaeng.html"><i class="fas fa-globe"></i>English</a> -->
      </div>
<%-include("headerjpn"); %>
  </header>

    <div class="recipedetail">
     <div class="back">
      <a href="../recipepastajpn"><i class="fas fa-arrow-circle-left"></i>他のパスタ</a>
     </div>
     <div class="menuphotos">
        <img src="../shefuyutaphotos/PSX_20200907_185237.jpg">
       </div>
     <h1 class="recipetitles">トマトとチーズのフジッリ</h1>
     <div class="recipecontent">
      <h2>-材料-</h2>
      <h4>2人分の想定です</h4>
            <h3>[パスタ用]</h3>
            <div class="ingredients">
            <ul>
            <li>フジッリ<a>...160g</a></li>
            <li>水<a>...4L</a></li>
            <li>塩<a>...40g(水の1%)</a></li>
              </ul></div>
            <h3>[パスタソース用]</h3>
       	    <div class="ingredients">
            <ul>
            <li>牛豚挽き肉<a>...200g</a></li>
            <li>オリーブオイル<a>...50g</a></li>
            <li>トマト缶<a>...200g</a></li>
            <li>白ワイン<a>...50ml</a></li>
            <li>茄子<a>...2本</a></li>
            <li>バジル<a>...10枚程</a></li>
            <li>お好きなチーズ(おすすめはチェダー)<a>...100g</a></li>
            <li>塩<a>...少々</a></li>
            <li>ブラックペッパー<a>...少々</a></li>
          </ul><div>
      <h2>-作り方-</h2>
        <div class="process">
          <ul>
          <li>ニンニクはそれぞれ根元だけ切り落としたら包丁で潰し、皮を取った後スライスする。</li>
   		  <li>ナスは1cm程の厚さに切る。</li>
          <li>フライパンにオリーブオイルとニンニクを入れて弱火にかける</li>
          <li>フライパンを斜めにしてニンニクがオリーブオイルをかぶる状態にする。</li>
          <li>ニンニクが泡を出し始めて30秒後に茄子と牛豚挽き肉を入れ、塩とブラックペッパーを振ったら強火で5分程焼く。</li>
          <li>茄子が柔らかくなってきたらトマト缶、白ワインを入れ、バジルを乗せたら20分程中火で煮る。</li>
          <li>飾り用のバジルを数枚残しておく</li>
          <li>ソースの表面にオレンジ色の油が浮かび上がってきたらパスタができるまで弱火にしておく。</li>
          <li>タイミングを見てパスタを茹で始める。茹で時間はパッケージに書いてある時間の2分前がおすすめ。</li>
          <li>パスタができる前にチーズをソースに入れ、混ぜる。</li>
          <li>茹で上がったパスタをお湯からそのままフライパンに移す。水分が足りなければお湯も少し加える。</li>
          <li>パスタとソースがからむようによく混ぜる。</li>
          <li>お皿に盛り付けたらバジルを乗せる。</li>
          </ul></div>
          <div class="lmkurideas">
            <a>ご覧いただきありがとうございます！
              <br>このレシピはいかがでしたか？ぜひ感想などをお聞かせください！
              <br>ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。
              <br>メッセージお待ちしています!</a>
          </div>
     </div>
     </div>

<%-include("footer"); %>
   </body>
   </html>
