<!DOCTYPE html>
<html class="htmlhome" lang="ja">
<%-include("head"); %>
<body> 

<header>     
  <div class="headerbackground"></div>     
  <div class="language">     
    <a href="recipestewedporkeng.html">
     <i class="fas fa-globe"></i>English</a>     
  </div>   
<%-include("headerjpn"); %>
</header>
    <div class="recipedetail">     
  <div class="back">     
    <a href="../recipericejpn.html"><i class="fas fa-arrow-circle-left"></i>他の主菜</a>     
  </div>     
  <div class="menuphotos">       
    <img src="../shefuyutaphotos/PSX_20210114_160951.jpg">       
  </div>     
  <h1 class="recipetitles">ポークスペアリブのタイ風煮込み</h1>     
  <div class="recipecontent">   
    <h2>-材料-</h2>     
    <h4>2~3人分の想定です</h4>         
    <div class="ingredients">           
      <ul>           
       <li>ポークスペアリブ<a>...500g</a></li>           
       <li>醤油(できれば金山シーズニングソース)<a>...150ml</a></li>           
       <li>赤ワイン<a>...100ml</a></li>           
       <li>ニンニク<a>...4かけ</a></li>         
       <li>黒砂糖<a>...70g(大さじ8くらい)</a></li>           
       <li>塩<a>...少々</a></li>
       <li>パクチー<a>...8房</a></li>           
       <li>生姜<a>...50g</a></li>           
       <li>ごま油<a>...大さじ2</a></li>
       <li>ホワイトペッパー<a>...大さじ3</a></li>
       <li>大根(オプション)<a>...半分</a></li>
       <li>水<a>...4L</a></li>
      </ul>         
    </div>     
    <h2>-作り方-</h2>       
    <div class="process">         
      <ul>           
        <li>味が染み込むように、スペアリブにフォークを刺して小さな穴をたくさん開ける。</li>
        <li>醤油、赤ワイン、黒砂糖、ごま油、ホワイトペッパーを混ぜ、生姜とニンニクをすりおろして混ぜる。</li>
        <li>ポークスペアリブに塩を満遍なくまぶし、やさしく擦り込む。</li>
        <li>ziplockなどにポークスペアリブと先ほど混ぜたタレ、パクチーを入れたら、余計な空気が入らないように封をして揉み込む。</li>
        <li>冷蔵庫に入れて2~3時間程寝かせる。</li>
        <li>大きめの鍋で水を沸騰させ、冷蔵庫から出したziplockの中身を全て鍋に入れる。</li>
        <li>落とし蓋をし、弱火で3~4時間煮込む。</li>
        <li>タッパーなどに移し、粗熱を取ったら冷蔵庫で一晩休ませる。</li>
        <li>冷蔵庫から出したらもう一度鍋に戻し、沸騰させたら弱火で10分程煮込む。(温め直すことが目的の為10分より短くても良い。)</li>
      </ul>
      </div>         
    <div class="lmkurideas">           
      <a>ご覧いただきありがとうございます！             
        <br>このレシピはいかがでしたか？ぜひ感想などをお聞かせください！             
        <br>ページの上にある"Contact"か、下のインスタグラムからダイレクトメッセージを頂ければ幸いです。             
        <br>メッセージお待ちしています!</a>         
      </div>     
     </div>     
    </div>
<%-include("footer"); %>  
</body>   
</html>
