<!DOCTYPE html>
<html class="htmlhome" lang="ja">
<%-include("head"); %>
<body> 

<header>     
  <div class="headerbackground"></div>     
  <div class="language">     
    <a href="recipestewedpork">
     <i class="fas fa-globe"></i>日本語</a>     
  </div>   
<%-include("headereng"); %>
</header>
    <div class="recipedetail">     
  <div class="back">     
    <a href="../recipemaineng"><i class="fas fa-arrow-circle-left"></i>Other Main Dishes</a>     
  </div>     
  <div class="menuphotos">       
    <img src="../shefuyutaphotos/PSX_20210114_160951.jpg">       
  </div>     
  <h1 class="recipetitles">Stewed Pork Ribs</h1>     
  <div class="recipecontent">   
    <h2>-Ingredients-</h2>     
    <h4>For 2-3 ppl</h4>         
    <div class="ingredients">           
      <ul>           
       <li>Pork ribs<a>...500g</a></li>           
       <li>Soy sauce(金山 seasoning sauce if possible)<a>...150ml</a></li>           
       <li>Red wine<a>...100ml</a></li>           
       <li>Garlic<a>...4 cloves</a></li>         
       <li>Brown sugar<a>...70g(8 table spoons)</a></li>           
       <li>Salt<a>...3 pinches</a></li>
       <li>Cilantro<a>...8 brunches</a></li>           
       <li>Ginger<a>...50g</a></li>           
       <li>Sesami oil<a>...2 table spoons</a></li>
       <li>White pepper<a>...3 table spoons</a></li>
       <li>Radish(option)<a>...500g-700g</a></li>
       <li>Water<a>...4L</a></li>
      </ul>         
    </div>     
    <h2>-Process-</h2>       
    <div class="process">         
      <ul>           
        <li>Make small wholes on ribs with a fork, so seasonings can solk well.</li>
        <li>In separated bowl, mix soy sauce, red wine, brown sugar, sesami oil, white pepper and grate garlic and ginger into the bowl.</li>
        <li>Rub salt into ribs. Spread it all over the ribs.</li>
        <li>Put ribs and sauce in a ziplock(can be multiple ziplocks) and close it. Take out the air as much as possible.</li>
        <li>Massage ribs gently and put the ziplock in the fridge. Leave it for 2 to 3 hours.</li>
        <li>Boil water in a large pod. and add everything from ziplock.</li>
        <li>Cover the water with cooking sheet or aluminum foil(Drop it onto the water) and stew 4 hours over low heat.</li>
        <li>Move it to container and cool it down. Put it in fredge over night.</li>
        <li>Put back into a large pod and heat it on for 10 minutes.(Just to warm it up to serve.)</li>
      </ul>
      </div>         
    <div class="lmkurideas">
      <a>Thank you for checking this recipe!
      <br>Please let me know your ideas about this recipe:)
      <br>Check out "Contact" on top of this page or DM to my ig account below.
      <br>I'm looking forward to your message!</a>
    </div>  
     </div>     
    </div>
<%-include("footer"); %> 
</body>   
</html>
